html,
body {
  background-color: #f0f2f5;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


.nav-item {
  padding-left: 32px;
}

.titles, .logo {
  background: -webkit-linear-gradient(#eee, #d23669);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  cursor: pointer;
}

/* .card:hover {
  background-color: #d23669;
} */
@media screen and (max-width: 765px) {
  .copy {
    display: none;
    color: blue;
  }
}